{% extends "@App/main.html.twig" %}

{% block title %}AppBundle:index:list{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="list.html.twig">
{% endblock %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block cont %}
    <div class="container">
        <span class="text-center">{{ message }}</span>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-5">
                <table class="table">
                    {%for following in followings %}
                        {% for photo in following.ownedPhotos %}
                            <tr class="photo_items" data-photo-id="{{ photo.id }}">
                                <td>
                                    <h4>{{ block.author[photo.id].username }}</h4>
                                    <a href="{{ path('app_photo_showphoto', {'photo_id': photo.id}) }}">
                                        <img width="450" height="450" src="{{ vich_uploader_asset(photo, 'photo') }}"/>
                                    </a>
                                    <b class="likes_count">{{ block.likes_count[photo.id] }}</b>
                                    <button style="float: right; display: none" class="btn like">Like!</button>
                                    <button style="float: right; display: none" class="btn dislike">Dislike!</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form(block.commentaryForm[photo.id]) }}
                                </td>

                            </tr>
                            {% endfor %}

                    {% endfor %}
                </table>
            </div>
        </div>
    <a href="{{ path('app_user_index') }}">Index</a>
    </div>
        {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/like.js') }}"></script>
{% endblock %}