{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="col-lg-offset-4 col-lg-4">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    </div>
</div>
