{% extends "::base.html.twig" %}

{% block title %}AppBundle:Start:index{% endblock %}

{% block body %}
    <p> <a href="{{ path('fos_user_security_login') }}">Войти туда</a></p>
    <p> <a href="{{ path('fos_user_registration_register') }}">Регистрация</a></p>
{% endblock %}
