{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
        {% for photo in photos %}
            <img width="100" height="100" src="{{ vich_uploader_asset(photo, 'photo') }}" />
            {% endfor %}
        </div>
    </div>
{% endblock %}